/* Global */

.full-tem {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Alegreya Sans', sans-serif;
    color: #666;
    letter-spacing: 1px;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: #333;
    line-height: 1.3;
    font-weight: 700;
}
.full-tem h1 {
	font-size: 36px;
}
.full-tem h2 {
	font-size: 30px;
}
.full-tem h3 {
	font-size: 24px;
}
.full-tem h4 {
	font-size: 18px;
}
.full-tem h5 {
	font-size: 16px;
}
.full-tem h6 {
	font-size: 14px;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}

/* Hdr area */

.hdr-mid {
	padding: 15px 0;
}
.hdr-logo a {
	display: inline-block;
}
.hdr-btm {
	border-top: 1px solid #ccc;
	background-color: #30343F;
}
.hdr-nav ul {
	margin: 0;
	padding: 0;
}
.hdr-nav ul li {
	list-style-type: none;
	display: inline-block;
}
.hdr-nav ul li a {
	display: block;
	padding: 10px 25px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.hdr-nav ul li.active a,
.hdr-nav ul li:hover a {
	background-color: #FF386B;
}

/* Pro Info */

.pro-info-top {
	padding: 50px 0;
} 

/* Gallery Area */

.slider {
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 485px;
    margin-bottom: 35px;
}
.slider .large {
    position: absolute;
    left: 120px;
    top: 0;
    transition: all 0.5s;
    overflow-y: hidden;
    width: calc(100% - 120px);
    border: 1px solid #e8e8e8;
    height: 483px;
    background-color: #fff;
}
.slider .large .large-inr {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.slider .large .large-inr img {
	padding: 25px;
	height: auto;
	width: 100%;
}
.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    margin: 0 0 10px;
    display: block;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    position: relative;
    width: 88px;
    height: 88px !important;
    height: auto;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
}
.slider label img {
    display: block;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.slider input[name='slide_switch']:checked+label {
    opacity: 1;
}
.slider input[name='slide_switch']~.large {
    opacity: 0;
    z-index: 1;
}
.slider input[name='slide_switch']:checked+label+.large {
    opacity: 1;
    z-index: 2;
}

/* Short Desc */

h3.product-title {
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 0;
}

/* Promo */

.single-promo {
	margin-top: 35px;
}
.single-promo i {
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	width: 52px;
	border-radius: 50%;
	font-size: 24px;
	text-align: center;
	background-color: #FF386B;
	color: #fff;
}
.single-promo h5 {
	text-transform: capitalize;
	margin-bottom: 5px;
}
.single-promo p {
	margin: 5px 0 0;
}

/* Pro top btn */

.pro-top-btn {
	margin-bottom: 35px;
}
.pro-top-btn a {
	display: inline-block;
	color: #14DBD8;
	margin: 50px 30px 0 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	border-radius: 5px;
}

/* Gallery  */

.gallery {
	padding: 15px;
	text-align: center;
	border: 1px solid #efefef;
	margin-bottom: 35px;
	display: inline-block;
}
.gallery img {
	height: 500px;
	width: auto;
}

/* Pro Main Desc */

h3.main-pro-desc-heading {
	text-transform: uppercase;
	font-weight: 700;
	background-color: #30343F;
	color: #FF386B;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 15px;
	display: inline-block;
}

.main-pro-desc-con p,
.main-pro-desc-con ul,
.main-pro-desc-con ol,
.main-pro-desc-con img,
.main-pro-desc-con table,
.main-pro-desc-con h6,
.main-pro-desc-con h5,
.main-pro-desc-con h4,
.main-pro-desc-con h3,
.main-pro-desc-con h2,
.main-pro-desc-con h1 {
	margin-bottom: 15px;
}
.main-pro-desc-con table {
	width: 100%;
}
.main-pro-desc-con table tr {
	
}
.main-pro-desc-con table tr td {
	line-height: 1.5;
	padding: 10px 5px;
}

/* Tab area */

.main-tab {
    width: 100%;
    background: #fff;
    margin: 50px 0 0;
}
.main-tab section {
    display: none;
    padding: 20px 0 0;
    font-size: 16px;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    padding: 10px 5px;
    font-size: 700px;
    text-align: center;
	color: #5f5f5f;
    text-transform: uppercase;
    font-size: 14px;
    width: calc(20% - 3px);
    margin-bottom: 0;
    border-radius: 5px;
}
.main-tab label i {
	margin-right: 5px;
}
.main-tab label:hover {
    cursor: pointer;
}
.main-tab input:checked + label {
    background-color: #14DBD8;
    color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5 {
    display: block;
    padding: 15px 20px 5px;
}

/* Best Seller */

.best-seller {
	padding: 0 0 80px;
}
.best-seller-title {
	position: relative;
}
.best-seller-title:after {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
	height: 2px;
	width: 100%;
	transform: translateY(-50%);
	background-color: #14DBD8;
}
.best-seller-title h2 {
	display: inline-block;
	background-color: #fff;
	padding: 0 15px;
	margin-bottom: 0;
	color: #666;
	position: relative;
	z-index: 2;
	font-weight: 400;
}
.single-best-seller {
	margin-top: 40px;
	background-color: #f2f2f2;
    background-image: linear-gradient(#fff, #f2f2f2);
    position: relative;
}
.single-best-seller-thumb img {
	width: 100%;
}
.single-best-seller-con {
	padding: 15px 10px 60px;
}
.single-best-seller-con .s-price {
	font-weight: 700;
	color: #1f2e35;
	font-size: 24px;
}
.s-cart {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%);
}
.s-cart a {
	display: inline-block;
}
.s-cart i {
	background-color: #14DBD8;
	color: #fff;
	font-size: 24px;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	border: 5px solid #fff;
}

/* Categoreies */

.categoreies {
	padding-bottom: 80px;
}
.categoreies-title {
	position: relative;
}
.categoreies-title:after {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
	height: 2px;
	width: 100%;
	transform: translateY(-50%);
	background-color: #14DBD8;
}
.categoreies-title h2 {
	display: inline-block;
	background-color: #fff;
	padding: 0 15px;
	margin-bottom: 0;
	color: #30343F;
	position: relative;
	z-index: 2;
	font-weight: 400;
}
.single-category {
	margin-top: 40px;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.single-category h3 {
	text-transform: uppercase;
	padding: 10px 15px;
	border: 1px solid transparent;
    background-color: #30343F;
    color: #FF386B;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}

/* Footer Area */

.ftr-area {
	padding: 10px 0;
	border-top: 2px solid #14DBD8;
}

/* Main Tab area */

.main-tab {
    width: 100%;
    background: #fff;
    margin: 35px 0 0;
}
.main-tab section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #efefef;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background-color: #FF386B;
    text-transform: uppercase;
}
.main-tab label i {
    margin-right: 5px;
}
.main-tab label:hover {
    color: #fff;
    background-color: #FF386B;
    cursor: pointer;
}
.main-tab input:checked + label {
    color: #373741;
    border: 1px solid #f5f5f5;
    border-top: 2px solid #FF386B;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5,
.main-tab #tab6:checked ~ #content6 {
    display: block;
    border: 1px solid #f5f5f5;
    padding: 15px 20px 5px;
}

/* Extra */

.v-mb {
	display: none;
}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

	.main-tab label {
		font-size: 12px
	}

}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

	.gallery {
		display: block
	}
	.v-mb {
		display: block;
	}
	.main-tab label span {
		display: none
	}

}

/* Extra small Device. */
@media (max-width: 767px) {

 	.main-tab label span {
 		display: none;
 	}
 	.main-tab label i {
 		display: inline;
 	}

 	.hdr-nav {
 		padding: 5px 0
 	}
 	.hdr-nav ul li a {
 		font-size: 14px;
 		padding: 5px;
 		background-color: transparent !;
 	}
 	.hdr-nav ul li.active a,
 	.hdr-nav ul li:hover a {
 		background-color: transparent;
 	}

 	.v-mb {
		display: block;
	}
	.main-tab label span {
		display: none
	}

	.gallery {
		padding: 10px
	}
	.gallery img {
		height: auto
	}

	.pro-info-top {
		padding: 10px 0 30px
	}
}